<div cdkDropListGroup class="group" style="margin-left: 10%; margin-right: 10%; margin-top: 5vh; height: 80vh;">
  <div class="leftSideContainer">

<div class="example-container">
  <h2>Вимоги</h2>
  <div
    cdkDropList
    #requirementsList="cdkDropList"
    [cdkDropListData]="requirements"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of requirements" cdkDrag>{{item.text}}</div>
  </div>
</div>
  </div>
  <div class="rightSideContainer">
    <div  class="example-container" *ngFor="let type of types">
      <h2>{{type.title}}</h2>
      <div
        cdkDropList
        [cdkDropListData]="type.requirements"
        [cdkDropListConnectedTo]="requirementsList"
        class="example-list-answer"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of type.requirements" cdkDrag>{{item.text}}</div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>

<div class = "bottom-actions">
    <button mat-raised-button (click)="cancelTask()">Відмінити</button>
    <button mat-raised-button color="primary" (click)="onClick()">Завершити</button>
</div>
