<div class="modal-container">
  <h2 mat-dialog-title>Відновлення паролю</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-list>
        <mat-list-item>
          <label for="uname"><b>Уведіть електронну пошту для відновлення паролю:</b></label>
        </mat-list-item>
          <mat-list-item>
          <mat-form-field class="modal__field">
            <input matInput id="email_input"
                   placeholder="Електронна пошта"
                   formControlName="email_input"
                  type="text">
            <mat-error *ngIf="form.controls['email_input'].errors">Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-dialog-content>
</div>
<br/>
<button (click)="forgot_password()">Надіслати лист</button>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
