<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Відновлення паролю</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="forgot_password()">
          <mat-list>
            <mat-list-item>
              <label for="email_input"><b>Уведіть електронну пошту для відновлення паролю:</b></label>
            </mat-list-item>
            <mat-list-item style=" margin-top: 2%;">
              <mat-form-field class="modal__field">
                <input matInput id="email_input"
                       placeholder="Електронна пошта"
                       formControlName="email_input">
                <mat-error *ngIf="form.controls['email_input'].errors">Обов'язкове поле
                </mat-error>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        <button style="margin-left: 25%; margin-top: 5%;" mat-raised-button class="btn btn-primary">Надіслати лист</button>
      </form>

    </div>
  </div>
</div>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
