<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <div class="author">
            <img class="avatar border-gray" src="assets/images/mike.jpg" alt="...">
            <h5 class="title">@{{user.username}}</h5>
          <a href="#">
          <p class="description">
            {{user.email}}
          </p>
          </a>
        </div>
        <p class="description text-center">
          "Party hard. Study harder"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>{{user.tests}}
                <br>
                <small>Тести</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>{{user.themes}}
                <br>
                <small>Теми</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>{{user.time}}
                <br>
                <small>Час</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<!--<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="row">
 <!-- <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>-->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Твоя статистика</h5>
        <p class="card-category">Графік</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100" ></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-warning"></i> Найкращий результат
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
