<div>
  <form [formGroup]="form">
  <mat-select placeholder="Виберіть тему" formControlName="specification" (selectionChange)="selectedSpecification($event)">
    <mat-option *ngFor="let specification of specifications" [value]="specification.id">
      {{specification.name}}
    </mat-option>
  </mat-select>
  </form>

  <mat-card *ngIf="isShown" class="specification-details-container">
      <mat-card-title>{{selectedSpecificationDetails.name}}</mat-card-title>
      <mat-card-content class="spec-content">
        <div class="left-container">
          {{selectedSpecificationDetails.description}}
        </div>
        <div class="right-container">
          <div style="display: inline">
             <h5>Your score:  </h5>
            <span> {{selectedSpecificationDetails.score}} </span>
          </div>
          <div style="display: inline">
             <h5>Attempts left:  </h5>
            <span> {{selectedSpecificationDetails.attempts}}/3 </span>
          </div>
        </div>
      </mat-card-content>
  </mat-card>

</div>

<div class = "bottom-actions">
  <button mat-raised-button (click)="startTest($event)" [disabled]="shouldBeDisabled">Start</button>
</div>
