<div>
  <form [formGroup]="form">
  <mat-select placeholder="Виберіть тему" formControlName="specification" (selectionChange)="selectedSpecification($event)">
    <mat-option *ngFor="let specification of specifications" [value]="specification.id">
      {{specification.name}}
    </mat-option>
  </mat-select>
  </form>

  <div *ngIf="isShown">
    {{selectedSpecificationDetails.name}}
    {{selectedSpecificationDetails.score}}
    {{selectedSpecificationDetails.description}}
  </div>
</div>

<div class = "bottom-actions">
  <button mat-raised-button (click)="startTest($event)">Start</button>
</div>
