<div style="margin-left: 10%; margin-right: 10%">
  <div style="padding-top: 10vh">
    <h3 style="text-align: justify">
      Привіт. Вітаємо тебе в нашій Віртуальній лабораторії. Для того, щоб почати виконання завдання, вибери специфікацію вимог з випадаючого списку.
    </h3>
  </div>
  <form [formGroup]="form" style="padding-top: 15vh; width: 50vw; align-self: center;margin-left: auto;margin-right: auto;">
  <mat-select placeholder="Виберіть тему" style="font-size: xx-large" formControlName="specification" (selectionChange)="selectedSpecification($event)">
    <mat-option style="font-size: large" *ngFor="let specification of specifications" [value]="specification.id">
      {{specification.name}}
    </mat-option>
  </mat-select>
  </form>

  <mat-card *ngIf="isShown" class="specification-details-container" style="margin-top: 10vh;">
      <mat-card-title style="padding-left: 2vw" >{{selectedSpecificationDetails.name}}</mat-card-title>
      <mat-card-content class="spec-content">
        <div class="left-container" >
          {{selectedSpecificationDetails.description}}
        </div>
        <div class="right-container">
          <div style="display: inline;display: flex;flex-direction: row;">
             <h5>Найкраша оцінка:  </h5>
            <span style="padding-left: 0.5vw"> {{selectedSpecificationDetails.score}} </span>
          </div>
          <div style="display: inline;display: flex;flex-direction: row ">
             <h5>Залишилось спроб:  </h5>
            <span style="padding-left: 0.5vw"> {{selectedSpecificationDetails.attempts}}/3 </span>
          </div>
        </div>
      </mat-card-content>
  </mat-card>

</div>

<div class = "bottom-actions">
  <button mat-raised-button (click)="startTest($event)" [disabled]="shouldBeDisabled" color="primary" style="font-size: x-large;">Розпочати</button>
</div>
